@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

body {
    background-color: #dbf8ff;
    font-family: 'Cute Font', cursive;
    font-size: 2.5em;
}

.App {
    display: inline;
    text-align: center;
    padding-top: 1500px;
}

h2,
p {
    margin: 0;
}

form {
    margin-top: 50px;
    display: flex;
    justify-content:center ;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

input {
    width: 250px;
    border: 3px solid #00B4CC;
    border-radius: 15px;
    outline: none;
    color: #00B4CC;
    padding: 5px;
}

.NotFound, .Loading {
    margin-top: 20px;
}